@model EstelaVidaShop.Models.Sale

@{
    ViewBag.Title = "Details";
}

<h2>Просмотреть</h2>

<div>
    <h4>Продажа</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Количество")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayName("Сумма")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>

        <dt>
            @Html.DisplayName("Дата")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayName("Название продукта")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product1.Name)
        </dd>

        <dt>
            @Html.DisplayName("Сотрудник")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Worker1.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Назад", "Index")
</p>
