@model EstelaVidaShop.Models.Material

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Уверены что хотите удалить?</h3>
<div>
    <h4>Сырьё</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Название")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Количество")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayName("Сумма")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>

        <dt>
            @Html.DisplayName("Себестоимость")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayName("Единица измерения")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit1.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
