@model EstelaVidaShop.Models.Worker

@{
    ViewBag.Title = "Details";
}

<h2>Просмотреть</h2>

<div>
    <h4>Сотрудники</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("ФИО")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Оклад")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayName("Адрес")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayName("Телефон")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayName("Должность")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position1.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Назад", "Index")
</p>
