@model EstelaVidaShop.Models.Payroll

@{
    ViewBag.Title = "Create";
}
@if (ViewBag.err != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.err");
        }
    </script>
}

<h2>Создать</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Выдача зарплаты</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Cотрудник", "Сотрудник", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Worker", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Worker, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Месяц", "Месяц", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Month", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Год", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Рассчитать" class="btn btn-default" />
            </div>
        </div>



    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>
